<section id="search" class="search-wrap">
    <h1>Connecting great candidates with great jobs</h1>
    <form action="/jobs/search" class="search-form">
        <input type="search" name="term" placeholder="What / Where">
        <input type="submit" value="Search">
    </form>
</section>