@import url('https://fonts.googleapis.com/css?family=Lato');

:root {
  --primary-color: lightsalmon;
  --primary-hover-color: lightsalmon;
  --bg-color: #333;
  --box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.7);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  color: #333;
  /* background: #d37d7d; */
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

.container .job {
  max-width: 500px;
  padding: 1rem 4rem;
  margin: auto;
  overflow: hidden;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}

.container h1 h2 h3 h4 p {
    font-family: sans-serif;
}

.container h1{
    text-align: center;
    font-family: sans-serif;
    margin-top: 20%;
}

.container .form-wrap {
    max-width: 800px;
}

.error {
  padding: 5px;
  border: #777 dotted 1px;
  margin-bottom: 15px;
}

/* Header */
header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
  background-color:rgba(108, 111, 122, 0.612);
}

header nav ul {
  display: flex;
}

header nav li {
  margin: 0 1rem;
}

header.inner {
  background: var(--bg-color);
  border-bottom: 4px solid var(--primary-color);
  position: relative;
  box-shadow: var(--box-shadow);
}

/* Buttons */
.btn {
  color: #fff;
  padding: 0.6rem;
  border: 1px solid #ccc;
  transition: all 0.7s;
  border-radius: 5px;
}

.btn:hover {
  color: #333;
}

.btn-reverse {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn-reverse:hover {
  border: 1px solid var(--primary-hover-color);
  color: #333;
}

/* Home Search */
.search-wrap {
  background: url('./images/hightrise.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding: 1.3rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-wrap h1 {
  font-size: 2rem;
  font-weight: 200;
  color: #fff;
  margin: 0 0 1.5rem;
  text-align: center;
}

.search-form input[type='submit'] {
  background-color: lightsalmon;
  color: #fff;
  padding: 0 2rem;
  cursor: pointer;
  transition: all 0.8s;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.search-form input[type='submit']:hover {
  background: lightsalmon;
  border: 1px solid var(--primary-hover-color);
  color: #333;
}

.search-form {
  display: flex;
  width: 500px;
  border-radius: 20px;
}

.search-form i {
  color: #333;
}

/* Everything in the search form */
.search-form > * {
  border: 0;
  padding: 0 0 0 10px;
  background: #fff;
  line-height: 50px;
  font-size: 1rem;
  border-radius: 0px;
  outline: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

input[type='search'] {
  flex-basis: 600px;
}

/* jobs */
.job {
  background-image: url('./images/black_bg.jpg');
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  color: #fff;
  font-family: sans-serif;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: var(--box-shadow);
  justify-content: center;
  flex-direction: column;
}

.job ul {
  list-style: none;
  display: flex;
}

.job li {
  margin-right: 0.5rem;
  padding: 0.6rem;
}

.job .tech span {
  color: var(--primary-color);
}

/* Form */
.form-wrap {
  margin: auto;
  background: url('./images/black_bg.jpg');
  color: #fff;
  padding: 1rem 3rem 3rem;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  box-shadow: var(--box-shadow);
  margin-top: 20%;
}

.form-wrap.reg-form,
.form-wrap.login-form {
  width: 60%;
}

.form-wrap h1,
.form-wrap h2,
.form-wrap p {
  text-align: center;
  margin-top: 2%;
}

.form-wrap .btn {
  margin-top: 1rem;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

.input-box {
  padding: 0.5rem;
  font-size: 18px;
  width: 100%;
  margin-bottom: 1.2rem;
}

footer {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(245, 245, 245, 0.236);
}

/* Tablets */
@media (max-width: 800px) {
  .container {
    padding: 1rem 2rem;
  }

  header {
    flex-direction: column;
    padding: 0.3rem !important;
  }

  .search-form {
    width: 100%;
  }

  input[type='search'] {
    flex-basis: 100%;
  }

  .search-wrap h1 {
    font-size: 2rem;
  }

  .search-wrap {
    padding: 2.3rem;
  }

  .job ul {
    flex-direction: column;
  }

  .job .btn {
    display: block;
    margin-top: 1rem;
    text-align: center;
  }

  .form-wrap.reg-form,
  .form-wrap.login-form {
    width: 80%;
  }

  footer {
    width: 100%;
    text-align: center;
}
}

/* Smartphones */
@media (max-width: 500px) {
  .container {
    padding: 1rem;
  }

  header nav li {
    margin: 0 10px;
  }

  .search-form {
    display: flex;
    flex-direction: column;
  }

  input[type='search'] {
    flex-basis: 0;
  }

  .search-form i {
    display: none;
  }

  .form-wrap {
    padding: 1rem 2rem 2rem;
  }

  .form-wrap.reg-form,
  .form-wrap.login-form {
    width: 100%;
  }

  footer {
      width: 100%;
      text-align: center;
  }
}